
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Control Panel</h1>

<a href="@Url.Action("Categories", "Admin")" class="btn btn-info">Manage Categories</a>
<a href="@Url.Action("Ingredients", "Admin")" class="btn btn-info">Manage Ingredients</a>
<a href="@Url.Action("IngredientsCategories", "Admin")" class="btn btn-info"> Manage Ingredients Categories</a>
