
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="@Url.Action("Categories", "Admin")">Categories</a>
<a href="@Url.Action("Ingredients", "Admin")">Ingredients</a>
<a href="@Url.Action("IngredientsCategories", "Admin")">Ingredients Categories</a>
