<div class="container">
    <h1>Manage Ingredients</h1>

    <button id="btnNew" class="btn btn-primary">Add new ingredient</button>
    <br /><br />

    <form id="ingredientform" hidden>
        <div class="row">
            <div class="form-group col-md-4">
                <input id="name" required type="text" class="form-control" placeholder="Ingredient name" />
            </div>

            <div class="form-group col-md-4">
                <input id="description" type="text" class="form-control" placeholder="Ingredient description" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <select id="categoriesDropdown" required class="form-control">
                    <option class="placeholder" selected disabled value="">Select category</option>
                </select>
            </div>

            <div class="form-group col-md-2">
                <input id="btnSubmit" type="submit" class="btn btn-warning" value="Submit" />
            </div>
        </div>
    </form>
    <br />
    <table id="ingredientsTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(function () {

            var validator = $("#ingredientform").validate({
                submitHandler: function () {

                    var ingredient = new Object();

                    ingredient.Name = $("#name").val();
                    ingredient.Description = $("#description").val();
                    ingredient.CategoryId = $("#categoriesDropdown").find(":selected").val();

                    // Add new category
                    if (currentId == null) {
                        $.ajax({
                            url: "/api/ingredients",
                            method: "POST",
                            data: ingredient,
                            success: function () {
                                toastr.success('Succefully created new ingredient');
                                $('#ingredientsTable').DataTable().ajax.reload();
                                validator.resetForm();
                            }
                        });
                    }
                    else {  // Edit existing category
                        $.ajax({
                            url: "/api/ingredients/" + currentId,
                            method: "PUT",
                            data: ingredient,
                            success: function () {
                                toastr.success('Succefully edited ingredient');
                                $('#ingredientsTable').DataTable().ajax.reload();
                                validator.resetForm();
                            }
                        });
                    }

                    $("#ingredientform").slideUp();

                    return false;
                }
            });

            $("#ingredientform").hide();
            var currentId = null;
            populate_dropdown();

            // Populate datatable
            var table = $('#ingredientsTable').DataTable({
                ajax: { url: "/api/ingredients", dataSrc: "" },
                "columns": [
                    { "data": "name" },
                    { "data": "description" },
                    { "data": "category.name" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return "<button class='btn btn-link js-edit' data-ingredient-id='" + data + "'>Edit</button>" +
                                "<button class='btn btn-link js-delete' data-ingredient-id='" + data + "'>Delete</button>";
                        }
                    }
                ]
            });

            // Delete category
            $("#ingredientsTable").on("click", ".js-delete", function () {
                var button = $(this);

                $.confirm({
                    title: 'Are you sure you want to delete this ingredient?',
                    content: '',
                    type: 'red',
                    buttons: {
                        ok: {
                            text: "yes",
                            btnClass: 'btn-primary',
                            keys: ['enter'],
                            action: function () {
                                $.ajax({
                                    url: "/api/ingredients/" + button.attr("data-ingredient-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.success('Ingredient removed successfully!');
                                    }
                                });
                            }
                        },
                        cancel: () => {

                        }
                    }
                });
            });

            // Create new category
            $('#btnNew').click(function () {

                $("#name").val("");
                $("#description").val("");
                $("#categoriesDropdown").val(null);

                if (currentId == null) {
                    $("#ingredientform").removeAttr("hidden");
                    $("#ingredientform").slideToggle();
                }
                else {
                    currentId = null;
                }
            });

            // Edit category
            $("#ingredientsTable").on("click", ".js-edit", function () {
                var button = $(this);

                $.ajax({
                    type: 'GET',
                    url: '/api/ingredients/' + button.attr("data-ingredient-id"),
                    dataType: 'json',
                    success: function (data) {
                        $("#name").val(data.name);
                        $("#description").val(data.description);
                        $("#categoriesDropdown").val(data.categoryId);

                        $("#ingredientform").removeAttr("hidden");
                        $("#ingredientform").slideDown();
                        currentId = button.attr("data-ingredient-id");

                        $('html, body').animate({ scrollTop: 0 }, '300');
                    }
                });
            });

            // Populate form dropdown with ingredients categories
            function populate_dropdown() {
                $.ajax({
                    type: 'GET',
                    url: '/api/ingredientscategories',
                    dataType: 'json',
                    success: function (data) {
                        $.each(data, function (k, v) {
                            $("#categoriesDropdown").append('<option value="' + v.id + '">' + v.name + '</option>');
                        });
                    }
                });
            }
        });
    </script>
}