@model CookBookApp.Models.ViewModels.RecipesIndexViewModel

@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Recipes" asp-route-category="recentlyAdded" class="nav-link">Recently Added</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
        <div class="dropdown-menu">
            @foreach (var category in Model.Categories)
            {
                <a asp-action="Index" asp-controller="Recipes" asp-route-category="@category.Name" class="dropdown-item">@category.Name</a>
            }
        </div>
    </li>
    <li class="nav-item">
        <a asp-action="Index" asp-controller="Recipes" asp-route-category="recentlyAdded" class="nav-link">Most Popular</a>
    </li>
</ul>

<partial name="_Recipes" for="Recipes">
